/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --font-primary: "Red Hat Display", sans-serif;

  --color-primary-pale-blue: hsl(225, 100%, 94%);
  --color-primary-bright-blue: hsl(245, 75%, 52%);
  --color-primary-bright-blue-hover: hsla(245, 83%, 68%, 1);
  --color-neutral-very-pale-blue: hsl(225, 100%, 98%);
  --color-neutral-desaturated-blue: hsl(224, 23%, 55%);
  --color-neutral-dark-blue: hsl(223, 47%, 23%);

  --transition: all 0.2s;
}

/* Base
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-image: url("/images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-position-y: -10%;
  background-position-x: center;
  background-size: contain;
  background-color: var(--color-primary-pale-blue);

  color: var(--color-neutral-desaturated-blue);
  font-family: var(--font-primary);
  font-size: 1.6em;
  padding: 0 2.4rem;
  font-weight: 300;
  line-height: 1.6;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  font-family: var(--font-primary);
  margin-top: 0;
}

.link {
  font-weight: 700;
  text-decoration: underline;
  color: var(--color-primary-bright-blue);
  transition: var(--transition);
}

.link:hover,
.link:focus {
  color: var(--color-primary-bright-blue-hover);
}

.cta {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--color-neutral-desaturated-blue);
  transition: var(--transition);
}

.cta--contained,
.cta--contained {
  display: block;
  color: #fff;
  padding: 1.5rem;
  border-radius: 1.1rem;
  background-color: var(--color-primary-bright-blue);
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.2);
  margin-bottom: 2.4rem;
}

.cta--contained:hover,
.cta--contained:focus {
  color: #fff;
  background-color: hsla(245, 83%, 68%, 1);
}

.cta--underlined:hover,
.cta--underlined:focus {
  color: var(--color-neutral-dark-blue);
}

/* Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.card {
  background-color: #fff;
  border-radius: 2rem;
  overflow: hidden;
  max-width: 32.7rem;
}

.card__info {
  padding: 3.2rem;
  text-align: center;
}

.card__headline {
  font-size: 2.2rem;
  color: var(--color-neutral-dark-blue);
  margin-bottom: 1.6rem;
}

.card__description {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 2.4rem;
}

.card__plan {
  padding: 1.6rem;
  background-color: var(--color-neutral-very-pale-blue);
  border-radius: 1.1rem;
  font-size: 1.4rem;
  margin-bottom: 2.4rem;

  display: flex;
  align-items: center;
}

.card__plan .link {
  margin-left: auto;
}

.card__plan-details {
  display: flex;
}

.card__plan-details img {
  width: 4.8rem;
  height: 4.8rem;
}

.card__plan-details p {
  color: var(--color-neutral-dark-blue);
  font-weight: 900;
  margin-left: 2rem;
}

.card__plan-details p span {
  font-weight: 400;
  color: var(--color-neutral-desaturated-blue);
  display: block;
}

/* Media Query
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 768px) {
  .card {
    max-width: 45rem;
  }

  .card__info {
    width: 35.4rem;
    margin: 0 auto;
  }

  .card__headline {
    font-size: 2.8rem;
    margin-bottom: 1.7rem;
  }

  .card__description {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-bottom: 2rem;
  }

  .card__plan {
    padding: 2.4rem;
  }

  body {
    background-image: url("/images/pattern-background-desktop.svg");
    background-position-y: -35%;
  }
}
